<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.persistence.ShopMapper">
    <!-- 리절트 맵 -->
    <resultMap id="shopResultMap" type="shop">
        <id column="SHOP_NO" property="shopNo"/>
        <result column="SHOP_NAME" property="shopName"/>
        <result column="SHOP_LOCATION" property="shopLocation"/>
        <result column="SHOP_STATUS" property="shopStatus"/>
    </resultMap>

    <!-- 목록 조회 매핑 구문 -->
    <select id="list" parameterType="shop" resultMap="shopResultMap">
        SELECT SHOP_NO, SHOP_NAME, SHOP_LOCATION, SHOP_STATUS
        FROM SHOP
        <where>
            <if test="shopNo > 0">
                AND SHOP_NO = #{shopNo}
            </if>
            <if test="shopStatus != null and shopStatus != ''">
                AND SHOP_STATUS = #{shopStatus}
            </if>
        </where>
    </select>

    <!-- 등록 매핑 구문 -->
    <!-- oracle 버전-->
    <!--<insert id="insert" parameterType="shop">-->
        <!--&lt;!&ndash; 자동 생성 키 조회 &ndash;&gt;-->
        <!--<selectKey keyColumn="SHOP_NO" keyProperty="shopNo" resultType="int"-->
                   <!--order="BEFORE">-->
            <!--SELECT SEQ_SHOP_NO.NEXTVAL-->
            <!--FROM DUAL-->
        <!--</selectKey>-->
        <!--INSERT INTO SHOP-->
        <!--(SHOP_NO, SHOP_NAME, SHOP_LOCATION, SHOP_STATUS)-->
        <!--VALUES-->
        <!--(#{shopNo}, #{shopName}, #{shopLocation}, #{shopStatus})-->
    <!--</insert>-->

    <!--mysql로 변경함-->
    <insert id="insert" parameterType="shop" useGeneratedKeys="true" keyProperty="SHOP_NO">
        INSERT INTO SHOP
        (SHOP_NAME, SHOP_LOCATION, SHOP_STATUS)
        VALUES
        (#{shopName}, #{shopLocation}, #{shopStatus})
    </insert>


    <!-- 조회 매핑 구문 -->
    <select id="select" parameterType="java.lang.String"
            resultMap="shopResultMap">
        SELECT SHOP_NO, SHOP_NAME, SHOP_LOCATION, SHOP_STATUS
        FROM SHOP
        WHERE SHOP_NO = #{shopNo}
    </select>

    <!-- 수정 매핑 구문 -->
    <update id="update" parameterType="shop">
        UPDATE SHOP
        <set>
            <if test="shopName != null">SHOP_NAME = #{shopName},</if>
            <if test="shopLocation != null">
                SHOP_LOCATION = #{shopLocation},
            </if>
            <if test="shopStatus != null">SHOP_STATUS = #{shopStatus},</if>
        </set>
        WHERE SHOP_NO = #{shopNo}
    </update>

    <!-- 삭제 매핑 구문 -->
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM SHOP 
        WHERE SHOP_NO = #{shopNo}
    </delete>
</mapper>
